<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Message Board with NGXS state management</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h3 class="subtitle">New message</h3>
        <app-create-message></app-create-message>
      </div>
      <div class="column">
        <h3 class="subtitle">List of message</h3>
        <app-list></app-list>
      </div>
    </div>
  </div>
</section>
